<div class="banner"></div>

<div class="price-bar">
  <div class="coin-container">
    <div class="dot-cont">
      <div class="dot"></div>
    </div>


    <div id="coin" class="coin">

      <div class="coin__front">
        <div class="bright">
        </div>
      </div>

      <div class="flash">
        <div class="shining1 shine"></div>
        <div class="shining2 shine"></div>
        <div class="shining3 shine"></div>
        <div class="shining4 shine"></div>
      </div>
      <div class="coin__edge">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="coin__back"></div>
    </div>
  </div>
  <div class="coins-value-container">
    <div class="value">200</div>
    <div class="coins coin1">
      <div class="coins__front"></div>
      <div class="coins__back"></div>
    </div>
    <div class="coins coin2">
      <div class="coins__front"></div>
      <div class="coins__back"></div>
    </div>
    <div class="coins coin3">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin4">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin5">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin6">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin7">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin8">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin9">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin10">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin11">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin12">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin13">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin14">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin15">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin16">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin17">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin18">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin19">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin20">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin21">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin22">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin23">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin24">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin25">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin26">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin27">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin28">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin29">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
    <div class="coins coin30">
        <div class="coins__front"></div>
        <div class="coins__back"></div>
    </div>
  </div>
    <h2>¡Click en la moneda para recoger tu bonus!</h2>
</div>
